.siteBody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blogBody {
    flex: 1;
    margin-right: 1em;
}

.blogNavigation {
    background-color: #303030;
    padding: 1em;

    /*Rounded Borders*/
    border-width: 0;
    border-radius: 4px;
    border-color: transparent;
}

.blogNavigation h1 {
    font-size: 1.5em;
}
