<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        {{range $i, $file := .StyleSheets}}
            <link rel="stylesheet" type="text/css" href="{{$file}}" media="screen" />
        {{end}}
        {{range $i, $file := .Scripts}}
            <script type="text/javascript" src="{{$file}}"></script>
        {{end}}
    </head>
    <body>
        <header class="siteHeader">
            <a href="/" class="siteBrand"><span class="superCase">Andrew</span><span class="superCase">Bowers</span></a>
            <nav class="siteNavigation">
                <a class="superCase" href="/">Home</a>
                <a class="superCase" href="/work">Work</a>
                <a class="superCase" href="/play">Play</a>
                <a class="superCase" href="/blog">Blog</a>
            </nav>
        </header>
        <div class="siteBody">
            {{.Body}}
        </div>
        <footer class="siteFooter">
            <p>&copy; 2014-2015 Andrew Bowers</p>
            <p>Code for and embedded in this website is released under the <a href="http://ender.mit-license.org">MIT license</a> except where otherwise noted.</p>
        </footer>
    </body>
</html>
